body {
    margin: 0px;
    background-image: url(Taco_background_copy.png);

}

main {

    padding: 16px;
}

footer {
    background-color:#B4CF66;
    padding-top: 24px;
    padding-bottom: 24px;
    position: fixed bottom;

}

img {
    height: 180px;
    border-radius: 5%;
    align-items: center;
}

nav {
    color: white;
    background-color:orangered;
    padding: 16px;
    border-bottom: 1px solid black;
    border-top: 0px solid;
}
a {
    color: #FFEC5C;
    outline-color: transparent;
    text-decoration: none;
 }

 a:link {
    outline-color: transparent;
    text-decoration: none;
 }

 a:visited {
    outline-color: transparent;
    text-decoration: none;
 }

 #grid {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    gap: 40px;
 }

 h1 {
    color: teal;
 }
#main-nav {
    color: white;
}
tr :nth-child(even) {
    background-color: rgba(128, 128, 128, 0.658);

}

tr :nth-child(odd) {
    background-color: rgba(235, 235, 235, 0.596);

}


h3 {
    text-align: center;
}

#recipes {
    background-color: #44803fda;
    padding-left: 8px;
    padding-right: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 1%;
}
